<h2>Secrets</h2>

<!-- display all secrets -->
<% @secrets.each do |secret| %>
    <p><%= secret.content %></p>
    <%= secret.likes.count %> likes

    <!-- if secret has been liked, show unlike button.  otherwise, show like button -->
    <form action='/likes' method='post'>
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <input type='hidden' name='secret_id' value='<%= secret.id %>'>
    </form>
    <% if secret.users_liked.where(id: current_user.id).first %>
      <input type='submit' value='Unlike'>
    <% else %>
      <input type='submit' value='Like'>
    <% end %>

    <!-- show delete button if secret's creator is the session user -->
    <% if current_user == secret.user %>
      <form action="/secrets/<%= secret.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" value="Delete"> 
      </form>
    <% end %>

    <hr>
<% end %>
