<h2>Edit User</h3>

<% if flash[:messages].present? %>
    <% flash[:messages].each do |message| %>
       <p class="<%=message['status'] %>"><%= message['text'] %></p> 
    <% end %>
<% end %>


<form action="/users/<%= @user.id %>" method="post">
    <p>
        <label>First name</label>
        <input type="text" name="user[first_name]" value="<%= @user.first_name %>">
    </p>
    <p>
        <label>Last name</label>
        <input type="text" name="user[last_name]" value="<%= @user.last_name %>">
    </p>
    <p>
        <label>Email</label>
        <input type="text" name="user[email_address]" value="<%= @user.email_address %>" >
    </p>
    <p>
        <label>Password</label>
        <input type="password" name="user[password]" value="<%= @user.password %>">
        <!-- <input type = "name" name = "category[name]" value = ""> -->
    </p>
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p><input type="submit" value="Update"></p>
    <a href="/users/<%= @user.id %>">Show</a>
    <a href="/users">Back</a>
</form>
