<h1>Products</h1>
<table>
    <!-- uncomment to turn on debugging <%= debug @products %> -->
    <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Created At</td>
    </tr>
    <% @products.each do |product| %>
    <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.created_at %></td>
        <td><%= link_to "Show", product %></td>
        <td><%= link_to "Edit", edit_product_path(product) %></td>
        <td><%= link_to "Remove", product, method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
    <% end %>
</table>
<%= link_to "New Product", new_product_path %>

<h2>Create a new product</h2>
<form action="/products/" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="text" name="name" />
  <p><textarea name='description'></textarea></p>
  <input type="submit" value="Create" />
</form>
