
<h2><%= @group.name %></h2>
<p>Description: <%= @group.description %></p>

<form action="/members" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="member[group_id]" value="<%= @group.id %>">

  <% if @group.participants.where(id: current_user.id).first %>
    <!-- already joined group, leave option -->
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Leave Group">
  <% else %>
    <!-- not yet part of group, join option -->
    <input type="submit" value="Join Group">
  <% end %>
</form>

<br />
<br />

<!-- creator of the group -->
<p><strong>Created By:</strong>
  <% if @group.user %>
    <% if @group.user.id == current_user.id %>
      You
    <% else %>
      <%= @group.user.first_name %>
      <%= @group.user.last_name %>
    <% end %>
  <% end %>
</p>

<!-- members of the group -->
<p><strong>Members:</strong></p>
<% @group.participants.each do |member|  %>
  <p><%= member.first_name %> <%= member.last_name %></p>
<% end %>




